---
import '../../styles/post.css';
import Layout from '../../layouts/Layout.astro';
import Separator from '../../components/Separator.astro';
import BlogHeader from '../../components/BlogHeader.astro';
import BlogNavMenu from '../../components/BlogNavMenu.astro';
import { getCollection } from 'astro:content';
import PostsSection from '../../components/PostsSection.jsx';

const posts = await getCollection('blog');
const allTags = [...new Set(posts.flatMap((post) => post.data.tags))];
const postsByLatest = posts.sort(
  (a, b) =>
    new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
);
---

<Layout>
  <BlogHeader />
  <BlogNavMenu />
  <main
    class="mx-auto flex h-full w-full max-w-5xl flex-col justify-start p-4 py-10 lg:pt-36"
  >
    <article class="prose-lg dark:prose-invert lg:prose-xl">
      <h1 class="text-center text-sky-700 dark:text-orange-400">
        Why-first Frontend
      </h1>
      <img
        src="https://images.unsplash.com/photo-1507721999472-8ed4421c4af2?q=80&w=350"
        class="justify-self-center"
      />
      <p>
        Welcome! This blog is dedicated to exploring <em>why</em> certain solutions,
        techniques, and frameworks were created in the world of frontend development.
        In this rapidly changing world of the web, sometimes we forget that our job,
        and the job of the tools that we use, is to provide solutions. Instead of
        just showing <em>how</em> to use them, I'll dive deeper into the
        <em>problems</em> and <em>constraints</em> that prompted their invention.
      </p>
      <p>
        Think of it as a guided journey—from the broad question of “Why do we
        even need frontend development?” down to the specifics of “Why do custom
        hooks exist in React?” or “Why minify code at all?”
      </p>
      <p>
        If you want a longer explanation, you can check the first entry of this
        guide:
      </p>
      <p>
        <a
          href="./frontend-guide"
          class="text-sky-700 hover:underline dark:text-orange-400"
        >
          Introducing the Why-First Approach to Frontend Development
        </a>
      </p>
      <Separator noPadding={true} />

      <PostsSection posts={postsByLatest} {allTags} client:load />
    </article>
  </main>
</Layout>
