<section
	id='about'
	class='flex min-h-screen sm:min-h-min mx-auto my-6 lg:max-w-screen-xl lg:py-28'>
	<div class='flex flex-col gap-8 my-auto p-2'>
		<div class='mx-auto'>
			<h2 class='text-center text-4xl font-bold' data-i18n-key='about'>
				About me
			</h2>
			<h2 class='text-center text-xs lg:text-lg' data-i18n-key='about-subtitle'>
				Who's Alberto
			</h2>
		</div>

		<div class='grid gap-4 sm:grid-cols-2'>
			<img
				class='rounded-3xl border-sky-50 border-2 w-72 m-auto'
				src={'img/profile.jpg'}
				alt='profile picture'
			/>

			<div class='my-4'>
				<div class='flex flex-col gap-4 text-center text-sm lg:text-lg'>
					<p data-i18n-key='about-paragraph-1'>
						I've been fascinated by the potential of web development since I
						wrote my first html lines when I was 14. Nowadays I'm looking for an
						opportunity to develop front-end technologies and become an expert
						in this field.
					</p>
					<p data-i18n-key='about-paragraph-2'>
						Besides creating high-quality code and learning about web
						technologies, I'm a globetrotter who's lived in 7 countries and
						visited more than 30 (and counting!).
					</p>
					<p data-i18n-key='about-paragraph-3'>
						You can get a copy of my CV clicking on the button below, and if you
						are still curious about my personal story you can click on the
						'Learn more' button.
					</p>
				</div>
				<div class='flex gap-4 mx-auto my-4 justify-center'>
					<a
						class='bg-blue-200 hover:bg-blue-300 dark:bg-sky-800 dark:hover:bg-sky-700 rounded py-3 px-6 border-black border text-center'
						href={'docs/Alberto Caparrós CV.pdf'}
						target='_blank'>
						<span class='font-semibold' data-i18n-key='download-cv'
							>Download CV</span
						>
					</a>
					<button
						class='bg-blue-200 hover:bg-blue-300 dark:bg-sky-800 dark:hover:bg-sky-700 rounded py-3 px-6 border-black border text-center'
						id='open-modal'>
						<span class='font-semibold' data-i18n-key='learn-more'
							>Learn more</span
						>
					</button>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	const openModalButton = document.getElementById('open-modal');

	var openModal = () => {
		const modal = document.getElementById('learn-more-modal');
		modal.classList.remove('hidden');
	};

	openModalButton.addEventListener('click', openModal);
</script>
