<section
  id="about"
  class="mx-auto my-6 flex min-h-screen sm:min-h-min lg:max-w-screen-xl lg:py-28"
>
  <div class="my-auto flex flex-col gap-8 p-2">
    <div class="mx-auto">
      <h2 class="text-center text-4xl font-bold" data-i18n-key="about">
        About me
      </h2>
      <h2 class="text-center text-xs lg:text-lg" data-i18n-key="about-subtitle">
        Who's Alberto
      </h2>
    </div>

    <div class="grid gap-4 sm:grid-cols-2">
      <img
        class="m-auto w-72 rounded-3xl border-2 border-sky-900 dark:border-sky-50 lg:w-96"
        src={'img/profile.webp'}
        alt="profile picture"
      />

      <div class="my-4">
        <div class="flex flex-col gap-4 text-center text-sm lg:text-lg">
          <p data-i18n-key="about-paragraph-1">
            I've been fascinated by the potential of web development since I
            wrote my first html lines when I was 14. Nowadays I'm looking for an
            opportunity to develop front-end technologies and become an expert
            in this field.
          </p>
          <p data-i18n-key="about-paragraph-2">
            Besides creating high-quality code and learning about web
            technologies, I'm a globetrotter who's lived in 7 countries and
            visited more than 30 (and counting!).
          </p>
          <p data-i18n-key="about-paragraph-3">
            If you want to know more about my work experience, you can access my
            CV by clicking the button below.
          </p>
        </div>
        <div class="mx-auto my-4 flex justify-center gap-4">
          <a
            class="rounded border border-black bg-blue-200 px-6 py-3 text-center hover:bg-blue-300 dark:bg-sky-800 dark:hover:bg-sky-700"
            href={'docs/Alberto Caparrós CV.pdf'}
            target="_blank"
          >
            <span class="font-semibold" data-i18n-key="download-cv"
              >Download CV</span
            >
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
