---
import About from '../icons/About.astro';
import Blog from '../icons/Blog.astro';
import Close from '../icons/Close.astro';
import Home from '../icons/Home.astro';
---

<div
	class='transition-all shadow-[0px_-1px_4px] shadow-slate-400 pt-8 px-1 pb-16 z-50 fixed w-full h-52 -bottom-80 bg-sky-50 text-slate-700 dark:bg-slate-800 dark:text-neutral-50'
	id='nav-menu'>
	<ul class='grid gap-x-0 gap-y-8 grid-cols-3'>
		<li>
			<a href='/' class='flex flex-col items-center gap-1'>
				<Home height={5} width={5} />
				<span data-i18n-key='home'>Home</span>
			</a>
		</li>
		<li>
			<a href='/blog/' class='flex flex-col items-center gap-1'>
				<Blog height={5} width={5} />
				<span>Blog</span>
			</a>
		</li>
	</ul>
	<div class='flex justify-end mr-2'>
		<button><Close height={6} width={6} id={'close-nav-menu'} /></button>
	</div>
</div>

<script>
	const closeButton = document.getElementById('close-nav-menu');

	var scrollUp = () => {
		const navMenu = document.getElementById('nav-menu');
		navMenu.classList.add('-bottom-80');
		navMenu.classList.remove('bottom-0');
	};

	closeButton.addEventListener('click', scrollUp);
</script>
