---
import About from '../icons/About.astro';
import Blog from '../icons/Blog.astro';
import Close from '../icons/Close.astro';
import Home from '../icons/Home.astro';
---

<div
  class="fixed -bottom-80 z-50 h-52 w-full bg-sky-50 px-1 pb-16 pt-8 text-slate-700 shadow-[0px_-1px_4px] shadow-slate-400 transition-all dark:bg-slate-800 dark:text-neutral-50"
  id="nav-menu"
>
  <ul class="grid grid-cols-3 gap-x-0 gap-y-8">
    <li>
      <a href="/" class="flex flex-col items-center gap-1">
        <Home height={5} width={5} />
        <span data-i18n-key="home">Home</span>
      </a>
    </li>
    <li>
      <a href="/blog/" class="flex flex-col items-center gap-1">
        <Blog height={5} width={5} />
        <span>Blog</span>
      </a>
    </li>
  </ul>
  <div class="mr-2 flex justify-end">
    <button><Close height={6} width={6} id={'close-nav-menu'} /></button>
  </div>
</div>

<script>
  const closeButton = document.getElementById('close-nav-menu');

  var scrollUp = () => {
    const navMenu = document.getElementById('nav-menu');
    navMenu.classList.add('-bottom-80');
    navMenu.classList.remove('bottom-0');
  };

  closeButton.addEventListener('click', scrollUp);
</script>
