---
import Apps from '../icons/Apps.astro';
import Sun from '../icons/Sun.astro';
---

<header
	id='header'
	class='w-full fixed bottom-0 g-sky-50 text-slate-700 dark:bg-slate-800 dark:text-neutral-50 h-12'>
	<nav
		class='h-full flex text-center mx-auto gap-2 items-center justify-between'>
		<p class='ml-4'>Alberto Caparrós</p>

		<div class='flex gap-4 items-center'>
			<Sun />
			<div data-i18n-switcher class='change-language'>
				<p data-i18n-key='change-language' class='text-2xl'>es</p>
			</div>
			<Apps height={6} width={6} />
		</div>

		<div class='hidden' id='nav-menu'>
			<ul class='nav_list grid'>
				<li class='nav_item'>
					<a href='#home' class='nav_link'
						><i class='uil uil-home nav_icon'></i>
						<span data-i18n-key='home'>Home</span></a
					>
				</li>
				<li class='nav_item'>
					<a href='#about' class='nav_link'
						><i class='uil uil-user nav_icon'></i>
						<span data-i18n-key='about'>About</span></a
					>
				</li>
				<li class='nav_item'>
					<a href='#portfolio' class='nav_link'
						><i class='uil uil-suitcase nav_icon'></i> Portfolio</a
					>
				</li>
				<li class='nav_item'>
					<a href='#qualifications' class='nav_link'
						><i class='uil uil-graduation-cap nav_icon'></i>
						<span data-i18n-key='qualifications'>Qualifications</span></a
					>
				</li>
			</ul>
			<i class='uil uil-times nav_close' id='nav-close'></i>
		</div>
	</nav>
</header>
