---
import Apps from '../icons/Apps.astro';
import I18n from './I18n.astro';
import ThemeToggler from './ThemeToggler';
---

<header
	id='header'
	class='shadow-[0px_-1px_4px] shadow-slate-400 z-40 w-full fixed bottom-0 bg-sky-50 text-slate-700 dark:bg-slate-800 dark:text-neutral-50 h-12'>
	<nav
		class='h-full flex text-center mx-auto gap-2 items-center justify-between'>
		<p class='ml-4'>Alberto Caparrós</p>

		<div class='flex gap-4 items-center mr-4'>
			<button><ThemeToggler client:load /></button>
			<button><I18n /></button>
			<button><Apps height={5} width={5} id={'open-nav-menu'} /></button>
		</div>
	</nav>
</header>

<script>
	const openButton = document.getElementById('open-nav-menu');

	var scrollUp = () => {
		const navMenu = document.getElementById('nav-menu');
		navMenu.classList.add('bottom-0');
		navMenu.classList.remove('-bottom-60');
	};

	openButton.addEventListener('click', scrollUp);
</script>
