---
import Github from '../icons/Github.astro';
import Linkedin from '../icons/Linkedin.astro';
import Mail from '../icons/Mail.astro';
---

<section
	id='home'
	class='flex h-screen sm:h-min mb-6 w-full pt-8 pb-16 sm:py-4 lg:pt-36 lg:text-2xl'>
	<div
		class='grid grid-cols-[1.5fr,3fr] gap-x-0 gap-y-6 my-auto px-2 py-16 items-center sm:grid-cols-[0.5fr,2.5fr,1fr] lg:max-w-6xl lg:mx-auto lg:gap-12'>
		<div class='flex flex-col items-center my-auto gap-0'>
			<a
				href='https://www.linkedin.com/in/albertocaparros/'
				class='my-8'
				target='_blank'
				title='My linkedin profile'>
				<Linkedin height={8} width={8} />
			</a>
			<a
				href='https://github.com/albertocaparros/'
				class='my-8'
				target='_blank'
				title='My github profile'>
				<Github height={8} width={8} />
			</a>
		</div>

		<img
			src={'img/logo_light.png'}
			class='mx-auto w-44 sm:order-1 lg:w-64 hidden dark:block'
		/>
		<img
			src={'img/logo_dark.png'}
			class='mx-auto w-44 sm:order-1 lg:w-64 block dark:hidden'
		/>

		<div
			class='col-start-1 col-end-3 text-center sm:col-start-auto sm:col-end-auto'>
			<h1 class='text-4xl font-bold lg:text-6xl'>Alberto Caparrós</h1>
			<h3
				class='text-lg font-semibold lg:text-2xl lg:mt-2'
				data-i18n-key='working-title'>
				Front-end developer
			</h3>
			<p class='my-6' data-i18n-key='site-description'>
				Welcome to my personal website, where you can get to learn about me and
				my work. Currently available for remote freelance and full time work.
			</p>
			<div class='flex flex-col my-6'>
				<a
					href='mailto:albertocaparrostrigo@gmail.com'
					class='flex text-center mx-auto gap-2 items-center'>
					<Mail />
					<span class='text-xl font-semibold' data-i18n-key='contact'>
						Contact
					</span>
				</a>

				<span>albertocaparrostrigo@gmail.com</span>
			</div>
		</div>
	</div>
</section>
