---
import Close from '../icons/Close.astro';
---

<div
	class='z-20 fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto'
	id='learn-more-modal'
	tabindex='-1'>
	<div class='relative w-auto pointer-events-none'>
		<div
			class='border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-sky-50 text-slate-700 dark:bg-slate-800 dark:text-neutral-50 bg-clip-padding rounded-md outline-none text-current'>
			<div
				class='flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md'>
				<h5 class='text-xl font-medium leading-normal' data-i18n-key='my-story'>
					My story
				</h5>
				<button type='button' class='box-content' id='close-modal'
					><Close width={6} heigth={6} />
				</button>
			</div>

			<div class='p-8'>
				<p class='mb-6' data-i18n-key='about-info-1'>
					For some reason, I have two very distinct memories from my childhood
					related to computers. First one is being able to run the game
					Dangerous Dave with a MS-DOS command as a kid. (Yes, I'm that old 😅).
					The second one is creating my first website about Final Fantasy VII
					and VIII using old HTML. I still have nightmares about &lt;table&lt;
					and &lg;marquee&lg;.
				</p>
				<div class='text-center my-2'>
					<img src={'img/dangerous-dave.jpg'} class='mx-auto w-96' />
					<span class='text-sm' data-i18n-key='about-pic-1'
						>I need to play this again.</span
					>
				</div>
				<p class='my-6' data-i18n-key='about-info-2'>
					Considering my early interest, it was an easy decision to choose
					Computer Science for my university degree. I studied in Spain,
					although but that time I already lived for a few months in Edinburgh,
					and soon after I entered the Erasmus program to study one year abroad
					in Wrocław, Poland. It was the beginning of my interest in knowing
					other places in the world. Before I finished my degree I did a
					traineeship in IBM Belgium, and soon after that I went back for
					another stage at the European Commission.
				</p>
				<div class='text-center my-2'>
					<img src={'img/european-commission.webp'} class='mx-auto w-96' />
					<span class='text-sm' data-i18n-key='about-pic-2'
						>Can't seem to take anything too seriously.</span
					>
				</div>
				<p class='my-6' data-i18n-key='about-info-3'>
					Right after that I spent one year in Australia with a working-holidays
					visa. Even thought I wasn't working professionally in software
					development during that time, I loved the experience and I had time to
					join programming events and hackatons. In fact I loved it so much that
					after one year working in Spain, I repeated with my second
					working-holiday experience, this time in Japan.
				</p>
				<div class='text-center my-2'>
					<img src={'img/me-in-japan.jpg'} class='mx-auto w-96' />
					<span class='text-sm' data-i18n-key='about-pic-3'
						>This country is just gorgeous.</span
					>
				</div>
				<p class='mt-3 mb-9' data-i18n-key='about-info-4'>
					Nowadays, when I'm not busy with work, I'm focused on moving my career
					towards front-end development. Participating in programming
					communities, building portfolio projects and learning as much as I
					can.
				</p>
			</div>
		</div>
	</div>
</div>

<script>
	const closeModalButton = document.getElementById('close-modal');

	var closeModal = () => {
		const modal = document.getElementById('learn-more-modal');
		modal.classList.add('hidden');
	};

	closeModalButton.addEventListener('click', closeModal);
</script>
