---
export interface Props {
	noPadding?: boolean;
	ariaHidden?: boolean;
}

const { noPadding = false, ariaHidden = true } = Astro.props;
---

<div class={`max-w-3xl mx-auto my-5 ${noPadding ? 'px-0' : 'px-4'}`}>
	<hr
		class='border-skin-line border-sky-700 dark:border-orange-500'
		aria-hidden={ariaHidden}
	/>
</div>
