<!DOCTYPE html>
<html lang='en' class={`scroll-smooth `}>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Alberto Caparrós</title>

		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link
			href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap'
			rel='stylesheet'
		/>
		<link rel='icon' type='image/png' href='/favicon.svg' />

		<script is:inline>
			const isDarkMode = localStorage.getItem('theme');
			const theme =
				isDarkMode === 'dark' ? 'scroll-smooth dark' : 'scroll-smooth';

			document.querySelector('html').className = theme;
		</script>
	</head>
	<body>
		<div
			class='bg-sky-50 text-slate-700 dark:bg-slate-800 dark:text-neutral-50 mb-12 lg:mb-0 min-h-screen'>
			<slot />
		</div>
	</body>
</html>)
